In [1]:
# Importar Pandas
import pandas as pd

In [2]:
# Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
filename = '/content/drive/MyDrive/Colab Notebooks/Bootcamp Data Science/sales_predictions.csv'
df = pd.read_csv(filename)

df2 = df

df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [3]:
# Dimensiones del Data Frame
df.shape

(8523, 12)

In [4]:
# Informaci√≥n del Data Frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
# Cantidad de Valores nulos dentro del Data Frame
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
# Agrupamos por el peso promedio de cada item
# Como cada item tiene su ID (Item Identifier), asumimos que cada uno tiene su peso en particular
df.groupby('Item_Identifier')['Item_Weight'].mean()

Item_Identifier
DRA12    11.600
DRA24    19.350
DRA59     8.270
DRB01     7.390
DRB13     6.115
          ...
NCZ30     6.590
NCZ41    19.850
NCZ42    10.500
NCZ53     9.600
NCZ54    14.650
Name: Item_Weight, Length: 1559, dtype: float64

In [8]:
# Almacenamos los datos agrupados anteriormente en una variable
pesos_promedios = df.groupby('Item_Identifier')['Item_Weight'].mean()

In [9]:
# Generamos un diccionario que contiene los pesos promedios asociados a cada item
dict_pesos_promedios = pesos_promedios.to_dict()

In [10]:
# Generamos una lista para identificar cuales items tienen valores de peso faltantes
list_na = []
for i in range(len(df)):
  if pd.isna(df.at[i, 'Item_Weight']) == True:
    list_na.append(df.at[i, 'Item_Identifier'])
list_na

['FDP10',
 'DRI11',
 'FDW12',
 'FDC37',
 'FDC14',
 'FDV20',
 'FDX10',
 'FDB34',
 'FDS02',
 'FDI26',
 'FDF09',
 'FDY40',
 'FDY45',
 'FDN48',
 'NCL18',
 'FDR12',
 'FDQ49',
 'FDU04',
 'NCP18',
 'FDD10',
 'DRE60',
 'FDW39',
 'FDX34',
 'FDY25',
 'NCR53',
 'FDH35',
 'DRK12',
 'FDR07',
 'NCB30',
 'DRY23',
 'FDQ28',
 'NCO17',
 'FDT12',
 'FDO08',
 'NCX06',
 'FDE40',
 'FDX49',
 'FDI24',
 'FDS45',
 'NCO07',
 'DRF27',
 'FDX25',
 'NCX42',
 'FDG33',
 'DRM47',
 'FDS46',
 'FDX21',
 'NCU05',
 'DRF15',
 'FDQ04',
 'FDH19',
 'FDZ10',
 'NCF07',
 'FDJ08',
 'FDM25',
 'FDV60',
 'FDV13',
 'FDV20',
 'FDM50',
 'FDY31',
 'DRQ35',
 'NCW17',
 'FDN60',
 'FDN58',
 'FDC41',
 'FDO01',
 'FDY49',
 'FDJ22',
 'FDN39',
 'FDJ56',
 'FDX26',
 'FDZ07',
 'NCW53',
 'FDX31',
 'FDR43',
 'FDP22',
 'FDU02',
 'NCK31',
 'FDU45',
 'FDW24',
 'DRP35',
 'FDW35',
 'FDW23',
 'DRH03',
 'FDW27',
 'FDS09',
 'NCO54',
 'FDS26',
 'DRB48',
 'FDU56',
 'FDN48',
 'FDX14',
 'FDH28',
 'NCT41',
 'FDO11',
 'FDR56',
 'FDE53',
 'DRN36',
 'FDZ47',
 'NCJ54',
 'NCE06',
 'FDO19',
 'FDV37',
 'FDB38',
 'FDW50',
 'NCQ43',
 'FDZ22',
 'FDE22',
 'DRK35',
 'FDO44',
 'FDL46',
 'FDC11',
 'FDX09',
 'DRI37',
 'FDE05',
 'FDT32',
 'FDC46',
 'FDA34',
 'FDO51',
 'FDS10',
 'FDX33',
 'FDC33',
 'NCV54',
 'NCZ06',
 'DRH25',
 'FDA14',
 'FDA03',
 'FDO52',
 'FDP13',
 'FDV02',
 'FDE38',
 'FDS03',
 'FDV56',
 'FDC04',
 'FDW01',
 'FDC10',
 'FDG24',
 'FDO04',
 'FDS33',
 'NCJ29',
 'FDZ01',
 'FDO36',
 'FDN12',
 'FDL24',
 'FDR58',
 'FDQ15',
 'FDH40',
 'FDI41',
 'NCK17',
 'FDD36',
 'DRD60',
 'NCM19',
 'FDK55',
 'FDV01',
 'FDL56',
 'FDT32',
 'FDJ40',
 'FDU13',
 'FDU44',
 'DRM59',
 'FDJ45',
 'FDQ08',
 'DRE12',
 'NCO17',
 'FDZ08',
 'FDZ12',
 'FDM56',
 'FDW49',
 'FDK15',
 'FDO49',
 'FDQ24',
 'FDN52',
 'NCN14',
 'FDV57',
 'FDL38',
 'FDS35',
 'FDI41',
 'FDN21',
 'FDX59',
 'NCK54',
 'FDA45',
 'FDU22',
 'FDP48',
 'FDM36',
 'FDS44',
 'NCP06',
 'FDE33',
 'FDU14',
 'FDS03',
 'FDZ25',
 'FDQ57',
 'NCX29',
 'FDE50',
 'NCG43',
 'FDR23',
 'FDS52',
 'DRF23',
 'DRK37',
 'FDW08',
 'FDC21',
 'FDC35',
 'DRC36',
 'FDZ38',
 'FDL13',
 'NCB43',
 'FDK10',
 'FDD20',
 'NCM54',
 'FDI44',
 'FDB21',
 'NCM05',
 'FDA49',
 'FDY52',
 'FDL02',
 'FDJ02',
 'FDT46',
 'FDM21',
 'FDH26',
 'FDN04',
 'FDY36',
 'FDF21',
 'FDD46',
 'FDO34',
 'FDH57',
 'FDK45',
 'DRH01',
 'DRH37',
 'FDG46',
 'DRH49',
 'FDW45',
 'FDK08',
 'FDA51',
 'DRE37',
 'NCW29',
 'DRF03',
 'NCO41',
 'FDZ33',
 'FDI04',
 'FDY56',
 'NCR41',
 'FDK43',
 'FDR48',
 'FDW37',
 'FDO23',
 'NCQ41',
 'FDU20',
 'NCK29',
 'FDR32',
 'DRI11',
 'FDG31',
 'FDI19',
 'FDQ56',
 'DRM37',
 'NCZ17',
 'FDA04',
 'DRG49',
 'FDR51',
 'NCF19',
 'FDQ03',
 'FDR46',
 'FDP23',
 'FDE16',
 'NCI54',
 'FDZ20',
 'FDW38',
 'FDY33',
 'NCX05',
 'FDZ50',
 'DRH51',
 'FDN20',
 'FDK15',
 'FDS01',
 'FDW34',
 'FDL20',
 'NCB31',
 'FDR46',
 'FDW55',
 'NCT29',
 'NCM18',
 'FDE45',
 'FDC04',
 'FDP24',
 'FDL09',
 'FDE16',
 'FDT22',
 'FDF16',
 'FDG33',
 'FDD52',
 'FDD16',
 'FDH32',
 'FDD50',
 'FDW20',
 'FDT55',
 'FDG29',
 'FDA16',
 'NCQ06',
 'FDG16',
 'FDZ40',
 'NCM17',
 'NCX30',
 'FDL12',
 'FDW11',
 'FDZ59',
 'FDB57',
 'DRP35',
 'FDI46',
 'DRC25',
 'FDP25',
 'NCY05',
 'FDP25',
 'NCL05',
 'FDC28',
 'FDI57',
 'DRL11',
 'FDX21',
 'FDL38',
 'FDY09',
 'FDU36',
 'FDZ33',
 'FDJ56',
 'FDC10',
 'FDW36',
 'FDA10',
 'FDZ58',
 'FDE33',
 'FDW56',
 'FDW36',
 'FDH21',
 'FDR12',
 'NCL05',
 'NCZ54',
 'FDD29',
 'FDJ10',
 'DRK49',
 'FDW32',
 'FDK57',
 'FDL39',
 'FDK08',
 'FDH52',
 'NCB31',
 'FDW27',
 'FDW49',
 'FDB58',
 'NCO54',
 'NCK06',
 'FDW39',
 'NCQ42',
 'FDM14',
 'NCV06',
 'DRF25',
 'DRJ47',
 'FDZ43',
 'FDW26',
 'FDQ12',
 'FDV46',
 'FDM28',
 'NCT17',
 'NCY29',
 'FDA38',
 'FDW21',
 'FDG44',
 'FDQ36',
 'FDE41',
 'NCO42',
 'FDL20',
 'NCZ53',
 'NCB18',
 'FDZ45',
 'FDU55',
 'FDO25',
 'FDF40',
 'FDR55',
 'NCS06',
 'FDT09',
 'FDL52',
 'FDK02',
 'FDQ25',
 'NCI31',
 'NCJ42',
 'FDH10',
 'FDY47',
 'FDU38',
 'FDV09',
 'FDG40',
 'FDY21',
 'FDO23',
 'FDH09',
 'FDC57',
 'FDQ27',
 'FDE32',
 'FDN02',
 'FDC02',
 'DRI23',
 'FDG46',
 'NCJ05',
 'FDU01',
 'FDE10',
 'NCK05',
 'DRG23',
 'FDV07',
 'FDV38',
 'DRJ24',
 'FDA02',
 'FDH33',
 'DRG48',
 'FDU01',
 'FDE08',
 'NCM07',
 'FDY35',
 'FDS28',
 'FDR23',
 'FDA47',
 'FDC45',
 'NCA06',
 'FDD05',
 'NCE54',
 'DRJ59',
 'DRH13',
 'DRK35',
 'NCI54',
 'FDL04',
 'FDU21',
 'DRZ24',
 'FDQ12',
 'DRB25',
 'FDX03',
 'FDG02',
 'FDV21',
 'FDM56',
 'FDU21',
 'DRY23',
 'FDZ52',
 'FDL16',
 'FDG60',
 'FDQ13',
 'FDA36',
 'FDQ34',
 'FDJ55',
 'FDV51',
 'FDP11',
 'NCN43',
 'FDF20',
 'NCE07',
 'FDI16',
 'FDQ23',
 'FDW09',
 'FDF12',
 'NCJ31',
 'NCL53',
 'FDF57',
 'FDH19',
 'FDW59',
 'FDH17',
 'FDH50',
 'NCV41',
 'FDY60',
 'FDP51',
 'FDE09',
 'FDU25',
 'DRD25',
 'FDR31',
 'FDT07',
 'DRL01',
 'FDG44',
 'FDY08',
 'FDP38',
 'DRK49',
 'FDL40',
 'FDH05',
 'FDW01',
 'NCO55',
 'FDM15',
 'FDS16',
 'FDS02',
 'FDW02',
 'FDS31',
 'DRA24',
 'FDA28',
 'FDA50',
 'FDM27',
 'FDL33',
 'FDV08',
 'FDJ14',
 'FDS09',
 'NCR05',
 'DRC01',
 'FDX28',
 'NCX18',
 'FDN57',
 'FDS27',
 'FDU08',
 'FDT56',
 'DRD15',
 'FDA57',
 'DRK13',
 'FDL57',
 'FDH33',
 'FDG56',
 'FDQ22',
 'FDT16',
 'DRG01',
 'FDU57',
 'FDF24',
 'DRJ39',
 'NCR53',
 'FDV01',
 'FDB04',
 'FDK24',
 'NCN53',
 'FDF16',
 'FDW38',
 'NCL41',
 'NCM30',
 'DRK23',
 'FDB32',
 'DRD24',
 'FDY02',
 'FDK20',
 'FDV03',
 'FDH08',
 'FDD41',
 'FDJ28',
 'FDO32',
 'FDH10',
 'FDZ32',
 'NCP50',
 'FDX35',
 'NCP42',
 'FDW31',
 'FDU35',
 'FDP39',
 'NCG07',
 'FDP58',
 'FDX56',
 'FDW48',
 'FDW15',
 'NCR50',
 'NCB07',
 'FDD59',
 'FDH48',
 'FDJ07',
 'FDX47',
 'FDF34',
 'FDK03',
 'NCL07',
 'FDZ44',
 'FDA10',
 'FDU36',
 'FDU32',
 'NCB06',
 'FDP45',
 'FDU27',
 'FDL12',
 'FDM44',
 'FDZ48',
 'FDK41',
 'NCK29',
 'FDD57',
 'FDJ21',
 'FDI24',
 'FDG12',
 'FDS31',
 'NCT30',
 'FDR47',
 'NCK42',
 'FDU26',
 'FDO45',
 'FDL26',
 'FDK25',
 'FDT40',
 'FDE28',
 'FDS12',
 'FDL44',
 'FDT51',
 'NCF31',
 'FDT50',
 'FDL45',
 'FDA02',
 'NCB19',
 'FDN27',
 'NCC19',
 'NCL54',
 'NCM43',
 'DRH23',
 'FDQ33',
 'FDY16',
 'DRN47',
 'FDD40',
 'NCG07',
 'FDW25',
 'NCE19',
 'NCZ06',
 'FDU33',
 'NCL55',
 'FDU32',
 'FDJ48',
 'FDO50',
 'FDX37',
 'DRM48',
 'FDF46',
 'FDP52',
 'FDF52',
 'FDD53',
 'FDY36',
 'FDN34',
 'DRK59',
 'FDG17',
 'NCH42',
 'FDD46',
 'FDQ10',
 'FDB58',
 'DRB01',
 'NCZ18',
 'FDZ14',
 'FDR35',
 'FDT58',
 'FDN13',
 'FDX56',
 'FDT11',
 'NCC18',
 'FDV27',
 'FDQ57',
 'FDU51',
 'NCK18',
 'NCC07',
 'FDK09',
 'FDZ60',
 'FDA44',
 'FDV32',
 'FDK32',
 'FDQ48',
 'NCJ42',
 'FDQ52',
 'FDB23',
 'FDH52',
 'NCP05',
 'FDV49',
 'FDV15',
 'FDV23',
 'FDZ26',
 'NCX05',
 'FDX22',
 'NCW53',
 'FDW13',
 'NCO30',
 'DRG27',
 'FDN08',
 'DRH15',
 'DRJ23',
 'FDD26',
 'FDJ32',
 'FDI15',
 'FDG05',
 'FDT19',
 'FDS44',
 'FDL36',
 'FDG14',
 'NCJ06',
 'FDN21',
 'FDB52',
 'FDA26',
 'FDO15',
 'FDG35',
 'NCH54',
 'FDU24',
 'FDQ39',
 'NCQ18',
 'NCI18',
 'NCS05',
 'FDU19',
 'DRH39',
 'FDE58',
 'FDS01',
 'FDG35',
 'FDU38',
 'FDF05',
 'FDA19',
 'FDP31',
 'FDC59',
 'FDY02',
 'DRI01',
 'FDG04',
 'FDF58',
 'FDZ21',
 'FDC47',
 'FDL48',
 'FDN03',
 'FDE52',
 'FDC60',
 'DRD25',
 'DRZ11',
 'FDY07',
 'FDZ56',
 'NCY18',
 'FDI33',
 'FDR15',
 'FDP60',
 'FDZ15',
 'FDD38',
 'FDB14',
 'FDO27',
 'FDB49',
 'FDR08',
 'FDQ51',
 'FDH21',
 'FDY55',
 'FDP33',
 'NCU17',
 'NCG30',
 'NCR29',
 'FDP40',
 'FDE11',
 'FDO39',
 'FDG32',
 'FDU50',
 'FDP46',
 'FDC20',
 'FDI56',
 'NCR17',
 'FDT57',
 'DRA24',
 'NCK05',
 'FDS43',
 'FDZ37',
 'FDO49',
 'FDO13',
 'FDS25',
 'NCQ30',
 'FDL34',
 'FDA07',
 'FDZ16',
 'FDN09',
 'DRG03',
 'FDC44',
 'NCU42',
 'FDV23',
 'FDY34',
 'NCZ30',
 'FDN10',
 'FDS13',
 'FDY21',
 'FDO10',
 'FDA50',
 'FDU23',
 'FDQ40',
 'FDB17',
 'NCL31',
 'NCQ50',
 'FDB05',
 'FDX04',
 'FDQ20',
 'DRI03',
 'FDK34',
 'FDW48',
 'FDE08',
 'NCH06',
 'FDL56',
 'FDN23',
 'FDY48',
 'FDT20',
 'FDP04',
 'FDQ11',
 'NCH43',
 'FDB14',
 'FDK24',
 'FDN33',
 'FDT47',
 'NCN29',
 'NCF42',
 'DRE49',
 'FDW34',
 'FDO03',
 'FDQ31',
 'FDD53',
 'NCS29',
 'FDL52',
 'FDK04',
 'DRE15',
 'FDB08',
 'NCT53',
 'FDP21',
 'NCJ43',
 'NCW41',
 'NCO05',
 'FDF33',
 'DRN59',
 'FDN44',
 'DRL01',
 'NCG54',
 'NCW42',
 'FDI20',
 'NCW42',
 'FDY35',
 'FDE57',
 'FDS08',
 'FDD05',
 'FDU39',
 'FDF26',
 'DRC49',
 'FDB36',
 'DRF49',
 'NCF42',
 'NCO14',
 'FDR45',
 'FDR01',
 'FDS39',
 'FDB02',
 'FDX24',
 'FDS34',
 'NCD43',
 'FDN01',
 'DRN36',
 'NCD31',
 'FDU52',
 'NCR30',
 'FDF29',
 'FDD39',
 'FDX47',
 'FDP09',
 'FDQ60',
 'FDC45',
 'DRJ37',
 'DRD12',
 'NCS29',
 'FDH02',
 'FDR09',
 'NCJ19',
 'DRH11',
 'FDP56',
 'DRF01',
 'FDY13',
 'FDA26',
 'FDC32',
 'FDY33',
 'FDY04',
 'FDW02',
 'FDC29',
 'FDN25',
 'FDV43',
 'FDK58',
 'FDM20',
 'FDT36',
 'FDA46',
 'FDS21',
 'FDR14',
 'FDG22',
 'FDB40',
 'FDD51',
 'FDA49',
 'FDU12',
 'NCI06',
 'FDV26',
 'FDG21',
 'FDE05',
 'FDW52',
 'FDL36',
 'FDQ23',
 'FDN24',
 'NCH55',
 'FDQ19',
 'FDK40',
 'NCE06',
 'FDV45',
 'FDK33',
 'FDW24',
 'FDU58',
 'NCG18',
 'FDQ26',
 'DRL47',
 'FDM34',
 'NCS53',
 'FDH60',
 'FDK48',
 'NCH07',
 'DRF27',
 'NCR18',
 'FDS48',
 'FDF44',
 'FDE46',
 'FDQ09',
 'NCK53',
 'FDW22',
 'FDS52',
 'NCI31',
 'FDV16',
 'NCS54',
 'FDJ33',
 'FDN24',
 'FDK16',
 'FDB22',
 'FDQ59',
 'FDR52',
 'FDU12',
 'FDZ07',
 'FDT26',
 'FDX57',
 'FDA55',
 'FDS48',
 'FDN03',
 'NCQ42',
 'FDQ45',
 'FDE51',
 'FDE02',
 'NCD55',
 'DRM23',
 'FDK26',
 'FDJ58',
 'FDO36',
 'FDY59',
 'FDT08',
 'NCQ43',
 'FDI10',
 'NCS53',
 'FDZ35',
 'FDG31',
 'FDO28',
 'NCY06',
 'FDD33',
 'FDG32',
 'NCP02',
 'FDR07',
 'FDS47',
 'FDX01',
 'FDC53',
 'FDZ10',
 'FDQ32',
 'FDS57',
 'NCQ38',
 'DRK11',
 'FDE09',
 'DRE48',
 'FDM22',
 'FDE02',
 'NCU29',
 'FDZ02',
 'FDW26',
 'FDR19',
 'FDA39',
 'FDB38',
 'FDB56',
 'FDA13',
 'NCX42',
 'FDF28',
 'FDV15',
 'FDA11',
 'FDQ08',
 'FDB05',
 'DRL37',
 'FDP11',
 'FDD35',
 'FDH41',
 'FDY10',
 'FDU45',
 'FDS55',
 'FDF57',
 'NCV54',
 'FDC34',
 'FDK20',
 'FDR14',
 'FDO31',
 'FDP27',
 'FDB17',
 'DRI39',
 'NCT29',
 'FDU24',
 'FDF56',
 'FDB44',
 'FDC52',
 'FDS40',
 'FDI22',
 'FDZ31',
 'FDB37',
 'FDB45',
 'FDC08',
 'FDA43',
 'NCX06',
 'NCT06',
 'FDH56',
 'FDB04',
 'FDK51',
 'FDB33',
 'NCE30',
 'FDQ55',
 'NCW29',
 'FDT14',
 'NCA42',
 'FDG08',
 'FDH31',
 'NCX30',
 'FDA20',
 'FDK36',
 'NCP55',
 'FDO56',
 'FDX45',
 'NCB42',
 'FDU33',
 'DRK39',
 'DRI59',
 'FDE29',
 'NCO02',
 ...]

In [11]:
# Fitramos por un Item Identifier con valores de Item_Weight faltante para usarlo como prueba
df[df['Item_Identifier'] == 'FDH31']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
5850           FDH31         12.0  ...  Supermarket Type1          1587.2672
5894           FDH31          NaN  ...      Grocery Store           198.4084
6282           FDH31         12.0  ...  Supermarket Type1          1091.2462
6985           FDH31          NaN  ...  Supermarket Type3          2777.7176
8513           FDH31         12.0  ...  Supermarket Type1           595.2252

[5 rows x 12 columns]

In [12]:
# Recorremos el Data Frame y reemplazamos el valor faltante por el peso promedio segun el item identifier
for i in range(len(df)):
  if pd.isna(df.at[i, 'Item_Weight']) == True:
    df.at[i,'Item_Weight']=dict_pesos_promedios[df.at[i, 'Item_Identifier']]

In [13]:
# Revisamos si cambiaron los valores faltantes de la columna Item_Weight para el Item_Identifier de prueba
df[df['Item_Identifier'] == 'FDH31']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
5850           FDH31         12.0  ...  Supermarket Type1          1587.2672
5894           FDH31         12.0  ...      Grocery Store           198.4084
6282           FDH31         12.0  ...  Supermarket Type1          1091.2462
6985           FDH31         12.0  ...  Supermarket Type3          2777.7176
8513           FDH31         12.0  ...  Supermarket Type1           595.2252

[5 rows x 12 columns]

In [14]:
# Revisamos la lista nuevamente. Si no se completaron con los valores de los promedios calculados,
# quiere decir que son items √∫nicos y que no tienen peso registrado
list_na=[]
for i in range(len(df)):
  if pd.isna(df.at[i, 'Item_Weight']) == True:
    list_na.append(df.at[i, 'Item_Identifier'])
list_na

['FDN52', 'FDK57', 'FDE52', 'FDQ60']

In [15]:
# Generamos una lista con los √≠ndices de estos Item Identifier con Item Weight NaN
eliminar = []
for i in list_na:
  x = ((df[df['Item_Identifier'] == i]).index.to_list())[0]
  eliminar.append(x)
eliminar

[927, 1922, 4187, 5022]

In [16]:
# Chequeamos si los √≠ndices son correctos
df[(df['Item_Identifier'] == 'FDN52')| (df['Item_Identifier'] == 'FDK57')| (df['Item_Identifier'] == 'FDE52')| (df['Item_Identifier'] == 'FDQ60')]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
927            FDN52          NaN  ...  Supermarket Type3          1569.9564
1922           FDK57          NaN  ...  Supermarket Type3          4434.2280
4187           FDE52          NaN  ...  Supermarket Type3          3453.5046
5022           FDQ60          NaN  ...      Grocery Store           120.5098

[4 rows x 12 columns]

In [17]:
# Eliminamos esta filas de nuestro Data Frame
for i in eliminar:
  df=df.drop(i)

In [18]:
# Reseteamos los √≠ndices para que no hayan saltos de n√∫meros
df.reset_index(inplace=True)

In [19]:
df.shape

(8519, 13)

In [20]:
# Vemos como cambi√≥ la cantidad de elementos NaN
df.isna().sum()

index                           0
Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [21]:
# Ahora continuamos con los Outlet Size con valores faltantes.
# Aplicamos el mismo supuesto anterior, el de completar con el valor correspondiente al Outlet Identifier
(df.groupby(['Outlet_Identifier', 'Outlet_Type', 'Outlet_Location_Type'])['Outlet_Size']).first()

Outlet_Identifier  Outlet_Type        Outlet_Location_Type
OUT010             Grocery Store      Tier 3                    None
OUT013             Supermarket Type1  Tier 3                    High
OUT017             Supermarket Type1  Tier 2                    None
OUT018             Supermarket Type2  Tier 3                  Medium
OUT019             Grocery Store      Tier 1                   Small
OUT027             Supermarket Type3  Tier 3                  Medium
OUT035             Supermarket Type1  Tier 2                   Small
OUT045             Supermarket Type1  Tier 2                    None
OUT046             Supermarket Type1  Tier 1                   Small
OUT049             Supermarket Type1  Tier 1                  Medium
Name: Outlet_Size, dtype: object

In [22]:
# Recorremos el Data Frame y reemplazamos el valor faltante por el peso promedio segun el outler identifier
# Seg√∫n la agrupaci√≥n anterior, el unico antecedente del tama√±o de un grocery store es small
# Seg√∫n la agrupaci√≥n anterior, tenemos la coincidencia de que existen datos de que Supermarket Type1 en Tier 2
# es small, por lo que usaremos este supuesto tambien para completar lo datos faltantes
for i in range(len(df)):
  if pd.isna(df.at[i, 'Outlet_Size']) == True:
    if df.at[i, 'Outlet_Type'] == 'Grocery Store':
      df.at[i, 'Outlet_Size'] = 'Small'
    elif (df.at[i, 'Outlet_Type'] == 'Supermarket Type1'):
      df.at[i,'Outlet_Size']= 'Small'

In [23]:
(df.groupby(['Outlet_Identifier', 'Outlet_Type', 'Outlet_Location_Type'])['Outlet_Size']).first()

Outlet_Identifier  Outlet_Type        Outlet_Location_Type
OUT010             Grocery Store      Tier 3                   Small
OUT013             Supermarket Type1  Tier 3                    High
OUT017             Supermarket Type1  Tier 2                   Small
OUT018             Supermarket Type2  Tier 3                  Medium
OUT019             Grocery Store      Tier 1                   Small
OUT027             Supermarket Type3  Tier 3                  Medium
OUT035             Supermarket Type1  Tier 2                   Small
OUT045             Supermarket Type1  Tier 2                   Small
OUT046             Supermarket Type1  Tier 1                   Small
OUT049             Supermarket Type1  Tier 1                  Medium
Name: Outlet_Size, dtype: object

In [24]:
df.isna().sum()

index                        0
Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64